html, body {
	width: 100vw;
	margin: 0;
	padding: 0;

	color: #ffffff;
	font-family: 'Open Sans', sans-serif; /* Creates friendly vibe */
	font-style: normal;

	background-color: #252525;
	overflow: hidden;
}

h2 {
	position: relative;
	font-family: 'Fjalla One';
	font-style: normal;
	font-size: 40px;
	font-weight: 400;
	z-index: 3;

	margin: 0;
    padding: 96px 0 32px;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}  

.uppercase {
	text-transform: uppercase;
}

.slide {
	width: 100%;
	height: 100vh;
	top: 0;

	position: absolute;
	background-color: #252525;

	transition: transform 0.5s ease-in;
}

.no-transition {
	transition: none !important;
}

.content-container {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

.main-content {
	position: relative;
	width: 1080px;
	margin: auto;
	z-index: 5;
}

.section-bg {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;

	background-size: cover;
	width: 100%;
}


@media screen and (max-width: 1180px) {
	.main-content {
		width: 900px;
	}
}

@media screen and (max-width: 1024px) {
	p {
		font-size: 14px !important;
	}

	.main-content {
		width: 90%;
	}
}

@media screen and (max-width: 848px) {
	.main-content {
		width: 85%;
	}
}


/* End of default properties */





#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #1C1C1C;
	transition: opacity 0.5s, visibility 0.5s;

	z-index: 99999;
}

#loader > svg {
	min-width: 256px;
	min-height: 256px;
}

svg path {
	transform-origin: center;
	transform-box: fill-box;
	animation: loadingRotation 1.5s ease;
}

@keyframes loadingRotation {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.element-hidden {
	opacity: 0;
	visibility: hidden;
}





/* Below navigation bar styling was copied from my previous DECO1016 task and adjusted to fit into the context of this website */
#navbar {
    width: 55%;
    height: 64px;
    position: fixed;
    /* Fix it to the top of the screen */
    background-color: #1E1E1E;
	border: #EAEAEA 1px solid;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	
    z-index: 100; /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container > a {
	margin-left: 32px;
    height: 64px;
}

#logo {
	display: block;
	margin: 0;
	padding: 0;
    height: 64px;
	width: 64px;
}

#navbar-menu {
	width: 70%;
}

#navbar-menu ul {
    list-style-type: none;
    display: flex;
	justify-content: space-between;

    margin: 0;
    padding: 0 0.8em;
    text-align: center;
    overflow: hidden;
}

.navbar-item {
    display: inline;
    line-height: 64px;
    padding: 0 30px;
    width: 100%;
}

.navbar-link {
    position: relative;
    display: block;
    color: #bcbcbc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
	text-transform: uppercase;

	transition: color 0.2s ease-out;
}

.navbar-link:hover {
    color: #ffffff;
}

.navbar-link::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 0%;

    left: 0;
    bottom: 12px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#current-section::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 100% !important;

    left: 0;
    bottom: 10px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

@media screen and (max-width: 1440px) {
	#navbar {
		width: 70%;
	}
}

@media screen and (max-width: 1180px) {
	#navbar {
		width: 100%;
	}
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 848px) {
	.navbar-container {
		justify-content: space-between;
	}

    #navbar-menu {
        position: fixed;
		height: 0;
        width: 100%;
		overflow: hidden;

        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: #1C1C1C;

		transition: all 0.3s ease;
    }

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0 0;    
	}

    .navbar-item {
        line-height: 64px;
        width: 80%;
		padding: 0;
		margin: auto;
    }

    .navbar-link::after {
        width: 100%;
		bottom: 0 !important;
		background:rgba(60, 60, 60, 0.3);
    }

    #navbar-toggle.active+#navbar-menu {
		height: 100%;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
		margin: 0 30px 0 0px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
		
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #454545;

		transition: transform 0.5s ease;
    }

    /* Set the colour of the menu bars when hovered */
    #navbar-toggle:hover .icon-bar {
        background-color: #787878;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 32px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

@media screen and (max-width: 348px) {
	.navbar-container {
		padding: 0;
	}
}

/* End of navbar */





#home-section {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#landing {
	position: absolute;
	left: 10%;
	top: 50%;
	transform: translate(0, -50%);

	z-index: 3;
}

#landing > h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0;
	color: #8e8e8e;
}

#my-name {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;

	font-size: 96px;
	font-weight: 600;
	color: #ffffff;

	margin: 0 0 24px;

	width: 0;
	overflow: hidden;
	white-space: nowrap;

	transition: width 1.5s ease-out;
}

#my-name.animation {
	width: 100%;
}

#my-name::after {
	content: "";
	position: relative;
	height: 1em;
	width: 3px;
	background-color: #EAEAEA;

	animation: typingLoop 1.25s infinite;
}

@keyframes typingLoop {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#my-roles {
	display: flex;
	gap: 32px;
	margin-bottom: 50px;
}

#my-roles > span {
	text-align: center;

	font-size: 14px;
	padding: 0.75em 2em;
	border: #ffffff 1.5px solid;
	border-radius: 32px;

	transform: scale(0);
	transition: transform 0.3s ease;
}

#fav-quote {
	display: block;
	height: 100px;
	width: 680px;
	font-size: 16px;
	line-height: 2em;
	color: #8e8e8e;

	opacity: 0;
	transform: translateY(20px);
	transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

#fav-quote.animation {
	opacity: 1;
	transform: translateY(0px);
}

@media screen and (max-width: 848px) {
	#landing > h1 {
		font-size: 50px;
	}
	
	#my-name {
		font-size: clamp(64px, 10vw, 86px);
	}

	#my-roles {
		margin-bottom: 32px;
	}

	#my-roles > span {
		font-size: 12px;
	}

	#fav-quote {
		width: 85%;
		font-size: 14px;
	}
}

@media screen and (max-width: 524px) {
	#landing > h1 {
		font-size: 44px;
	}
	
	#my-name {
		font-size: clamp(54px, 12vw, 64px);
	}

	#fav-quote {
		width: 90%;
	}
}

@media screen and (max-width: 440px) {
	#landing {
		width: 100%;
		left: 0;
		top: 52.5%;
	}

	#landing > h1 {
		text-align: center;
		font-size: 36px;
	}

	#my-name {
		justify-content: center;

		font-size: clamp(62px, 18vw, 80px);
		text-align: center;
		margin: 0 auto 24px;
   		white-space: normal;
	}

	#my-name.animation {
		width: 90%;
	}

	#my-name:after {
		content: none;
	}

	#my-roles {
		justify-content: center;
		flex-direction: column;
		width: 60%;
		margin: 0 auto 32px;
		gap: 24px;
	}

	#my-roles > span {
		border: #4e4e4e 1.5px solid;
    	color: #7f7f7f;
	}

	#fav-quote {
		text-align: center;
		margin: auto;
	}
}



article > .content-container {
	height: initial !important;
	background: #ffffff;
	transition: background 0.7s ease-out;
}

article > .content-container.animation {
	background: #252525;
}

#profile {
	width: 100%;
	padding: 128px 0 64px;
	display: flex;
	gap: 76px;
}

#profile > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profile > div > img {
	width: 257.5px;
	padding-bottom: 32px;
}

#profile > div > a {
	width: 100%;
	color: #202020;
	text-align: center;
	font-size: 14px;
	text-decoration: none;

	padding: 0.9em 0;
	border: #353535 1.5px solid;
	border-radius: 3px;
}

#profile > p {
	margin: 0;
	line-height: 1.8em;
	color: #353535;
}

#profile > p > span {
	display: block;
	padding-bottom: 24px;

	color: #303030;
	font-size: 32px;
	font-weight: 600;
	font-family: 'Fjalla One';
}

#specialities {
	width: 100%;
	padding-bottom: 32px;
	color: #353535;
}

#specialities > h2 {
	padding: 32px 0;
	color: #303030;
}

#specialities > div {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 48px;
}

.speciality-container {
	width: 42.5%;
	height: 156px;
	display: flex;
	align-items: center;
	gap: 24px;

	background: rgba(190, 190, 190, 0.1);
	box-shadow: 0 15px 25px rgba(90, 90, 90, 0.3);
	border-radius: 4px;
	padding: 24px;
}

.speciality-container > img {
	width: 96px;
	height: 96px;
}

.speciality-container > div > h3 {
	margin: 0 0 8px;
}

.speciality-container > div > p {
	line-height: 1.8em;
	margin: 0;
	color: #7c7c7c;
}

@media screen and (max-width: 848px) {
	#profile {
		flex-direction: column;
		padding: 108px 0 64px;
		gap: 64px;
	}

	#profile > div > a {
		width: 100%;
	}

	#specialities > div {
		flex-direction: column;
		row-gap: 24px;
	}

	.speciality-container {
		width: 100%;
		height: 144px;
		padding: 0 16px;

		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	.speciality-container > img {
		width: 72px;
		height: 72px;
	}

	.speciality-container > div > h3 {
		font-size: 16px;
	}
}

@media screen and (max-width: 524px) {
	.speciality-container {
		height: fit-content;
		padding: 24px 16px;
	}
}

@media screen and (max-width: 416px) {
	.speciality-container {
		flex-direction: column;
	}

	.speciality-container > img {
		width: 86px;
		height: 86px;
	}

	.speciality-container > div {
		text-align: center;
	}
}





#portfolio-section > div > h2 {
	color: #303030;
	transition: color 0.7s ease-out;
}

article > .content-container.animation #portfolio-section > div > h2 {
	color: #ffffff;
}

#projects-showcase {
	height: 1140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.project {
	display: block;
	position: relative;
	/* width: min-content; */
	/* margin: auto; */
}

.project-thumbnail-container {
	display: block;
	height: 540px;
	width: 100%;
	overflow: hidden;

	background: #1C1C1C;
}

.project-thumbnail {
	width:100%;
	height:100%;
	background-size: cover;
	background-position: center;
	opacity: 0.7;

	transition: transform 1.5s, opacity 0.5s ease-in;
}

.project:hover .project-thumbnail{
	/* transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1); */

	opacity: 1;
}

.project-details {
	width: 100%;
	
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
}

.project-details > div {
	padding: 10px 3% 32px;
}

.project-title {
	font-size: 32px;
	font-weight: 600;
	margin: 10px 0;
}

.project-intro {
	font-size: 16px;
	margin: 10px 0;
	line-height: 2em;
	color: #a3a3a3;
}

.project-btns {
	padding-top: 10px;
	display: flex;
	gap: 32px;
}

.project-btns > a {
	font-size: 12px;
    width: 180px;
    height: 40px;
	
	border-radius: 100px;
	text-decoration: none;
	color: #ffffff;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
}

.view-research-btn {
	background-color: #0075FF;
}

.view-product-btn {
	border: #ffffff 1px solid;
}

#projects-page-num {
	width: 25%;
	min-width: 256px;

	margin: auto;
	padding: 48px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#projects-previous-page, #projects-next-page {
	width: 24px;
	height: 24px;
	/* background-color: #00408a; */
	border-radius: 32px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.page-num {
	height: 1.75em;
	width: 1.75em;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	font-weight: 600;
	
	border-radius: 3em;
}

#current-page {
	background: #0075FF;
}

@media screen and (max-width: 848px) {
	.project-title {
		font-size: 28px;
	}

	.project-btns > a {
		font-size: 10px;
		width: 160px;
		height: 36px;
	}
}

@media screen and (max-width: 512px) {
	.project-thumbnail {
		height: 50%;
	}

	.project-details {
		width: 100%;
		
		position: absolute;
		bottom: 0;
		background-color: rgb(15, 15, 15);
	}

	.project-details > div {
		padding: 10px 20px 32px;
	}

	.project-title {
		font-size: 20px;
	}
	
	.project-btns {
		gap: unset;
		justify-content: space-between;
	}

	.project-btns > a {
		width: 47.5%;
	}
}

@media screen and (max-width: 412px) {
	.project-details > div {
		padding: 10px 3% 20px;
	}

	.project-btns {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}

	.project-btns > a {
		width: 80%;
	}
}





#contact-section {
	position: relative;
	margin: 0;
	padding: 0;
}

#contact-section > div > .main-content {
	position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

#contact-title {
	font-size: 64px;
	margin: 0;
	padding-bottom: 0;
	text-align: center;
}

#contact-section > div > div > p {
	margin: 16px 0 0;
	text-align: center;
	color: #bababa;
}

/* Removing the default icon that is disrupting the design https://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome */
[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

/* A container of the input form */
#input-form-container {
    position: relative;
    width: 810px;
	margin: 32px auto 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	background: rgba(40, 40, 40, 0.3);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 12px;
}

/* The form that user has to filled out to add the movie to their watched history */
#input-form {
    width: 85%;
    padding: 32px 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 32px;

	transition: opacity 0.5s ease-in;
}

#contact-details {
    display: grid;
    grid-template-columns: 45% 45%;
	justify-content: space-between;
}

.contact-detail-contaienr > label {
    position: relative;
    top: -5px;
	color: #cecece;
}

#contact-details > div > input {
    height: 2.5em;
    width: 100%;
}

#contact-message {
	height: 160px;
	width: 100%;
	resize: none;
    font-family: 'Roboto', sans-serif;
}

#contact-details > div > input, #contact-message {
	padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	border: 1.5px #5f5f5f solid;
	border-radius: 4px;
	background-color: transparent;

	font-size: 16px;
	color: #ffffff;
}

input[name="submit_btn"] {
	position: relative;
    width: 180px;
    height: 40px;
	margin: 10px auto;

	font-size: 16px;
    text-transform: uppercase;
    transition: .5s;

	background: transparent;
    color: #ffffff;
    border: #ffffff 1.5px solid;
	border-radius: 4px;
}

input[name="submit_btn"]:hover {
	background: #f0f0f0;
    color: #1e1e1e;
}

#message {
	width: 80%;

	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: opacity 0.5s ease-in;
}

#message > h3 {
	color: #ff9900;
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 24px;
}

#message > p {
	color: #cecece;
	font-size: 14px;
	margin: 0;
}

@media screen and (max-width: 1024px) {
	#input-form-container {
		width: 100%;
	}
}

@media screen and (max-width: 848px) {
	#contact-title {
		font-size: 48px;
	}
}

@media screen and (max-width: 400px) {
	#contact-title {
		font-size: clamp(28px, 10vw, 40px);
	}
}

@media screen and (max-height: 848px), (max-width: 848px), (orientation: portrait) {
	#input-form-container {
		margin: 24px auto 0;
	}
	
	.contact-detail-contaienr > label {
		font-size: 14px;
	}

	#input-form {
		gap: 20px;
		padding: 24px 0;
	}

	#contact-details {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	input[name="submit_btn"] {
		margin: 8px auto;
	}
}

@media screen and (max-height: 848px) {
	#contact-section > div > .main-content {
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0, 0);
		padding-top: 84px;
	}
}





footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
}

#footer-connect {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	padding-bottom: 32px;
}

#connect-platforms {
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0 12px;

	gap: 32px
}

#connect-platforms > a {
	display: block;
	height: 40px;
	width: 40px;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: height 0.2s ease-out, width 0.2s ease-out ;
}

#connect-platforms > a:hover {
	height: 48px;
	width: 48px;
}

@media screen and (max-height: 848px) {
	footer {
		position: relative;
	}

	#footer-connect {
		padding: 32px 0 16px;
	}

	#connect-platforms {
		margin: 0;
	}
}






/* Fade in animation that was learnt from this tutorial https://www.youtube.com/watch?v=Ma3TVb-Vstg */
.animate {
	opacity: 0;
	transform: translateY(50px);
}

.fade-in {
	animation: fade-in 1.2s both;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

/* End of animation */