/* To avoid the font not showing in some browsers https://stackoverflow.com/questions/36660893/css-open-sans-font */
/* With the proper font weight https://stackoverflow.com/questions/45114158/googles-open-sans-font-weight */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

html, body {
	width: 100vw;
	margin: 0;
	padding: 0;

	color: #ffffff;
	font-family: 'Open Sans', sans-serif; /* Creates friendly vibe */
	font-style: normal;

	background-color: #252525;
}

main {
	opacity: 0;
	transition: opacity 0.5s ease;
}

h2 {
	position: relative;
	font-family: 'Fjalla One';
	font-style: normal;
	font-size: 40px;
	font-weight: 400;
	z-index: 3;

	margin: 0;
    padding: 96px 0 32px;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}  

.uppercase {
	text-transform: uppercase;
}

.back-slide {
	width: 100%;
	height: 100vh;
	top: 0;

	position: absolute;
	background-color: #252525;

	transition: transform 0.5s ease-in;
}

.no-transition {
	transition: none !important;
}

.content-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.main-content {
	position: relative;
	width: 1080px;
	margin: auto;
	z-index: 5;
}

.section-bg {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;

	background-size: cover;
	width: 100%;
}

/* End of default properties */





#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #1C1C1C;
	transition: opacity 0.5s, visibility 0.5s;

	z-index: 99999;
}

#loader > svg {
	min-width: 256px;
	min-height: 256px;
}

svg path {
	transform-origin: center;
	transform-box: fill-box;
	animation: loadingRotation 1.5s ease;
}

@keyframes loadingRotation {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(360deg);
	}
}

.element-hidden {
	opacity: 0;
	visibility: hidden;
}





/* Below navigation bar styling was copied from my previous DECO1016 task and adjusted to fit into the context of this website */
#navbar {
    width: 55%;
    height: 64px;
    position: fixed;
    /* Fix it to the top of the screen */
    background-color: #1E1E1E;
	border: #EAEAEA 1px solid;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	
    z-index: 100; /* Avoid being covered by other elements */
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar-container > a {
	padding-left: 32px;
    height: 64px;
}

#logo {
	display: block;
	margin: 0;
	padding: 0;
    height: 64px;
	width: 64px;
}

#navbar-menu {
	width: 70%;
}

#navbar-menu ul {
    list-style-type: none;
    display: flex;
	justify-content: space-between;

    margin: 0;
    padding: 0 0.8em;
    text-align: center;
    overflow: hidden;
}

#navbar-menu>ul>li {
    display: inline;
    line-height: 64px;
    padding: 0 30px;
    width: 100%;
}

#navbar-menu>ul>li>a {
    position: relative;
    display: block;
    color: #bcbcbc;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
	text-transform: uppercase;

	transition: color 0.2s ease-out;
}

#navbar-menu>ul>li>a:hover {
    color: #ffffff;
}

#navbar-menu>ul>li>a::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 0%;

    left: 0;
    bottom: 12px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#current-section::after {
    position: absolute;
    content: "";
    height: 3px;
	width: 100% !important;

    left: 0;
    bottom: 10px;

	background: linear-gradient(90deg, #FFFFFF 0%, #3C3C3C 100%);
	border-radius: 5px;

	transition: width 0.2s ease-out;
}

#navbar-toggle {
    display: none;
    z-index: 100;
}

/* Responsive nav bar learnt from DECO1016 unit */
@media screen and (max-width: 800px) {
    #navbar-menu {
        position: fixed;
        width: 100%;
        top: 64px;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

    #navbar-menu ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0.4em 0.8em 0;
        background-color: #1C1C1C;
    }

    #navbar-menu>ul>li {
        line-height: 64px;
        width: 80%;
    }

    #navbar-menu>ul>li>a:hover {
        border-bottom: 0;
    }

    .navbar-item>.hori-line {
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: #EDEDED;
    }

    #navbar-menu>ul>li>a:hover::after {
        height: 3px;
        width: 100%;
    }

    #current-section::after {
        height: 3px;
        width: 100%;
    }

    #navbar-toggle.active+#navbar-menu {
        background-color: #1C1C1C;
        display: flex;
    }

    /* NAVBAR TOGGLE BUTTON */
    /* Styles for the hamburger style menu button */
    #navbar-toggle {
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    /* Reusable style for each menu bar */
    .icon-bar {
        display: block;
        width: 25px;
        height: 4px;
        margin: 2px;
        background-color: #454545;
    }

    /* Set the colour of the menu bars when hovered */
    #navbar-toggle:hover .icon-bar {
        background-color: #787878;
    }

    /* Set the icon bars for when the menu is active i.e. when the cross to close is showing */
    #navbar-toggle.active .icon-bar:first-child,
    #navbar-toggle.active .icon-bar:last-child {
        position: absolute;
        margin: 0;
        width: 32px;
    }

    /* Rotate the top menu bar */
    #navbar-toggle.active .icon-bar:first-child {
        transform: rotate(45deg);
    }

    /* Hide the middle menu bar */
    #navbar-toggle.active .icon-bar:nth-child(2) {
        opacity: 0;
    }

    /* Rotate the bottom menu bar */
    #navbar-toggle.active .icon-bar:last-child {
        transform: rotate(-45deg);
    }
}

/* End of navbar */





#home-section {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#landing {
	width: 700px;

	position: absolute;
	left: 10%;
	top: 50%;
	transform: translate(0, -50%);

	z-index: 3;
}

#landing > h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0 0 24px;
	color: #8e8e8e;
}

#landing > h1 > span {
	font-size: 96px;
	font-weight: 600;
	color: #ffffff;
}

#my-roles {
	display: flex;
	gap: 32px;
	margin-bottom: 50px;
}

#my-roles > span {
	font-size: 14px;
	padding: 0.75em 2em;
	border: #ffffff 1.5px solid;
	border-radius: 32px;
}

#landing > i {
	display: block;
	width: 90%;
	font-size: 16px;
	line-height: 2em;
	color: #8e8e8e;
}






article > .content-container {
	height: initial !important;
	min-height: 100vh;
	background: #ffffff;
	transition: background 0.7s ease-out;
}

#profile {
	padding: 128px 0 64px;
	display: flex;
	gap: 76px;
}

#profile > div {
	display: flex;
	flex-direction: column;
}

#profile > div > img {
	width: 257.5px;
	padding-bottom: 32px;
}

#profile > div > a {
	color: #202020;
	text-align: center;
	font-size: 14px;
	text-decoration: none;

	padding: 0.9em 2em;
	border: #353535 1.5px solid;
	border-radius: 3px;
}

#profile > p {
	margin: 0;
	line-height: 1.8em;
	color: #353535;
}

#profile > p > span {
	color: #303030;
	font-size: 32px;
	font-weight: 600;
	font-family: 'Fjalla One';
}

#specialities {
	padding-bottom: 32px;
	color: #353535;
}

#specialities > h2 {
	padding: 32px 0;
	color: #303030;
}







#portfolio-section > div > h2 {
	color: #303030;
	transition: color 0.7s ease-out;
}

#projects-showcase {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.project {
	display: block;
	position: relative;
	/* width: min-content; */
	/* margin: auto; */
}

.project-thumbnail-container {
	height: 540px;
	width: 100%;
	overflow: hidden;

	background: #1C1C1C;
}

.project-thumbnail {
	width:100%;
	height:100%;
	background-size: cover;
	background-position: center;
	opacity: 0.7;

	transition: transform 1.5s, opacity 0.5s ease-in;
}

.project:hover .project-thumbnail{
	transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);

	opacity: 1;
}

.project-details {
	position: absolute;
	bottom: 0;
	background-color: rgba(10, 10, 10, 0.9);
}

.project-details > div {
	padding: 10px 3% 32px;
}

.project-title {
	font-size: 32px;
	font-weight: 600;
	margin: 10px 0;
}

.project-intro {
	font-size: 16px;
	margin: 10px 0;
	line-height: 2em;
	color: #cecece;
}

.project-btns {
	padding-top: 10px;
	display: flex;
	gap: 32px;
}

.project-btns > a {
	font-size: 12px;
    width: 180px;
    height: 40px;
	
	border-radius: 100px;
	text-decoration: none;
	color: #ffffff;

	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	display: flex;
	justify-content: center;
	align-items: center;
}

.view-research-btn {
	background-color: #0075FF;
}

.view-product-btn {
	border: #ffffff 1px solid;
}

#projects-page-num {
	width: 20%;
	margin: auto;
	padding: 48px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

#projects-previous-page, #projects-next-page {
	width: 24px;
	height: 24px;
	background-color: #00408a;
	border-radius: 32px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.page-num {
	margin: 0;
	font-weight: 600;
}

#current-page {
	color: #0075FF;
}




#contact-section {
	position: relative;
	margin: 0;
	padding: 0;
}

#contact-section > div > .main-content {
	top: 45%;
	transform: translate(0, -50%);
}

#contact-title {
	font-size: 64px;
	margin: 0;
	padding-bottom: 0;
	text-align: center;
}

#contact-section > div > div > p {
	margin: 16px 0 0;
	text-align: center;
	color: #bababa;
}

/* Removing the default icon that is disrupting the design https://stackoverflow.com/questions/20937475/remove-datalist-dropdown-arrow-in-chrome */
[list]::-webkit-calendar-picker-indicator {
    display: none !important;
}

/* A container of the input form */
#input-form-container {
    position: relative;
    width: 810px;
	margin: 32px auto 96px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

/* The form that user has to filled out to add the movie to their watched history */
#input-form {
    width: 85%;
    padding: 32px 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 32px;

	transition: opacity 0.5s ease-in;
}

#contact-details {
    display: grid;
    grid-template-columns: 45% 45%;
	justify-content: space-between;
}

.contact-detail-contaienr > label {
    position: relative;
    top: -5px;
	color: #cecece;
}

#contact-details > div > input {
    height: 2.5em;
    width: 100%;
}

#contact-message {
	height: 160px;
	width: 100%;
	resize: none;
    font-family: 'Roboto', sans-serif;
}

#contact-details > div > input, #contact-message {
	padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	border: 1.5px #5f5f5f solid;
	border-radius: 3px;
	background-color: transparent;

	font-size: 16px;
	color: #ffffff;
}

input[name="submit_btn"] {
	position: relative;
    width: 180px;
    height: 40px;
	margin: 10px auto;

	font-size: 16px;
    text-transform: uppercase;
    transition: .5s;

	background: transparent;
    color: #ffffff;
    border: #ffffff 1.5px solid;
	border-radius: 5px;
}

input[name="submit_btn"]:hover {
	background: #f0f0f0;
    color: #1e1e1e;
}

#message {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: opacity 0.5s ease-in;
}

#message > h3 {
	color: #ff9900;
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 24px;
}

#message > p {
	color: #cecece;
	font-size: 14px;
	margin: 0;
}






footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
}

#footer-connect {
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	text-align: center;
	padding-bottom: 32px;
}

#connect-platforms {
	height: 48px;

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0 12px;

	gap: 32px
}

#connect-platforms > a {
	display: block;
	height: 40px;
	width: 40px;

	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	transition: height 0.2s ease-out, width 0.2s ease-out ;
}

#connect-platforms > a:hover {
	height: 48px;
	width: 48px;
}